.catalog-elements
    display: flex
    flex-wrap: wrap
    width: 100%
    &-item
        padding-top: 20px
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 13px
        border: 1px solid #DEDEDE
        color: #222
        position: relative
        width: calc(25% - 11px)
        margin-right: 14px
        margin-bottom: 14px
        transition: .3s box-shadow
        &:nth-child(4n)
            margin-right: 0
        &:hover
            box-shadow: 0 0 5px rgba(0, 0, 0, .25)
            
        &-productday
            background-color: $orange
            border-radius: 15px 4px
            color: #fff
            font-size: 12px
            font-weight: bold
            line-height: 120%
            max-width: 100px
            padding-top: 8px
            padding-left: 10px
            padding-right: 10px
            padding-bottom: 6px
            position: absolute
            top: 11px
            text-align: center
        &__sale
            position: absolute
            top: 20px
            right: 15px
            color: #fff
            height: 24px
            font-size: 13px
            font-weight: normal
            line-height: 24px
            width: 45px
            text-align: center
            background-color: #E43535
            border-radius: 4px

        &__img
            margin-bottom: 25px
            display: block
            margin-left: auto
            margin-right: auto
            max-width: 100%
            height: 160px
            width: auto
            object-fit: contain
        &__name
            height: 52px
            overflow: hidden
            text-align: left
            font-weight: 500
            font-size: 14px
            line-height: 120%
            color: #222
            display: block
            transition: .3s color
            margin-bottom: 2px
            &:hover
                text-decoration: none
                color: $accent
        &__brand
            text-align: left
            margin-bottom: 14px
            font-size: 13px
            color: #222
            font-weight: 300
            min-height: 34px
            line-height: 135%

        &-price
            margin-bottom: 13px
            display: flex
            align-items: center
            &__oldprice
                text-decoration-line: line-through
                font-size: 13px
                line-height: 120%
                font-weight: 500
                color: #ADADAD
            &__curprice
                text-align: center
                font-size: 17px
                line-height: 120%
                color: #E43535
                font-weight: 500
                margin-right: 6px
            &__default
                text-align-last: 
                font-size: 17px
                line-height: 120%
                font-weight: 500
                color: #222
            &__discount
                background-color: $red
                color: #fff
                font-weight: 500
                font-size: 13px
                line-height: 15
                display: inline-flex
                width: 44px
                height: 24px
                align-items: center
                justify-content: center
                border-radius: 10px 2px
                margin-left: auto

        &-buy
            display: flex
            margin-bottom: 15px
            align-items: center
            &__wrapper
                flex-basis: 40%
                width: 40%
                display: flex
                input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0
                input[type=number]
                    -moz-appearance: textfield
                    width: 45px
                    text-align: center
                    border: 1px solid #DEDEDE
                    height: 32px
                    line-height: 32px
                .incr,.decr
                    cursor: pointer
                    border: 1px solid #DEDEDE
                    background: #DEDEDE
                    width: 20px
                    text-align: center
                    height: 32px
                    line-height: 32px
                    display: inline-block
                    font-size: 15px
                    color: #222
                    font-weight: 500
            &__btn
                background-color: $accent
                color: #fff
                border-radius: 4px
                height: 32px
                line-height: 120%
                font-weight: 500
                text-align: center
                display: inline-flex
                align-items: center
                justify-content: center
                transition: .3s background-color
                margin-right: 10px
                padding-left: 14px
                padding-right: 14px
                flex-grow: 1
                &:hover
                    background-color: $accent2
                    color: #fff
                    text-decoration: none
                
            &__oneclick
                background-color: #F2F2F2
                padding-left: 14px
                padding-right: 14px
                height: 32px
                line-height: 120%
                text-align: center
                border-radius: 4px
                color: #222
                // display: inline-flex
                display: none
                align-items: center
                justify-content: center
                transition: .3s background-color, .3s color
                font-weight: 500
                margin-right: 10px
            &__like
                width: 22px
                height: 22px
                background-image: url(../images/dist/icons/like_nofill.svg)
                background-position: center
                background-repeat: no-repeat
                background-size: contain
                transition: .3s background-image
                &:hover,&.active
                   background-image: url(../images/dist/icons/like_fill.svg) 


        &-bot
            display: flex
            &__code
                flex-basis: 40%
                width: 40%
                color: #222
                font-size: 13px
                line-height: 130%
                font-weight: 600
                display: flex
                align-items: center
                span
                    font-weight: 300
                    margin-left: 3px 
            &__available
                width: 60%
                flex-basis: 60%
                display: flex
                font-size: 13px
                line-height: 13px
                font-weight: 500
                align-items: center
                justify-content: flex-end
                img
                    margin-right: 15px
        
        .badges
            top: 14px

.catalog-sidebar
    padding-right: 40px

.catalog-banners
    padding-bottom: 30px
    margin-bottom: 10px
    &_mobile
        display: none
.catalog-banner
    margin-bottom: 30px
.swiper-wrapper.disabled
   margin-bottom: -20px



.catalog-topfilter
    margin-bottom: 20px
    display: flex
    align-items: center
    position: relative

    &-sorter
        display: flex
        margin-right: 30px
        align-items: center
        &__label
            margin-right: 5px
    &-buttons
        &__item
            height: 34px
            line-height: 34px
            color: #222
            background-color: #F2F2F2
            border-radius: 4px
            font-weight: 500
            padding-left: 20px
            padding-right: 20px
            text-align: center
            display: inline-block
            margin-right: 20px
            &.active
                background-color: $accent
                color: #fff
            &:last-child
                margin-right: 0

    &-views
        margin-left: auto
        &__item
            margin-right: 15px
            width: 32px
            height: 28px
            display: inline-block
            background-color: #f2f2f2
            background-size: contain
            background-repeat: no-repeat
            vertical-align: middle
            &.view1
                mask: url(../images/dist/catalog/icons/view1.svg)
                width: 31px
            &.view2
                mask: url(../images/dist/catalog/icons/view2.svg)
            &:last-child
                margin-right: 0
            &.active,&:hover
                background-color: $accent


.catalog
    &-sorter
        display: flex
        font-weight: 500
        &__title
            margin-right: 40px
            color: #6A6A6A
        &-list
            &__item
                display: inline-block
                margin-right: 40px
                img
                    display: none
                &.active
                    color: $accent
                    img
                        display: inline
                &.desc
                    img
                        transform: scale(1,-1)
    &-section
        &-item
            display: flex
            padding-left: 10px
            padding-top: 15px
            padding-right: 40px
            padding-bottom: 15px
            border: 1px solid #E1E1E1
            margin-top: -1px
            align-items: center
            &__img
                width: 120px
                height: 120px
                object-fit: contain
                margin-right: 50px
            &-info
                width: 620px
                margin-right: 40px
                &-top
                    display: flex
                    justify-content: space-between
                    &__brand
                        font-size: 13px
                        font-weight: 300
                        line-height: 135%
                        width: 180px
                        text-align: right
                        margin-bottom: 9px
                    .badges
                        width: calc(100% - 200px)
                        top: 0
                        left: 0
                        position: relative
                        justify-content: flex-start
                        &-item
                            margin-left: 0
                            margin-right: 5px
                            margin-bottom: 9px
                            &:last-child
                                margin-right: 0
                    &__brand
                &__name
                    font-size: 15px
                    font-weight: 500
                    line-height: 20px
                    margin-bottom: 15px
                    display: block
                &__brand
                    display: none
                &-bot
                    display: flex
                    &__code
                        margin-right: 30px
                        font-size: 13px
                        span
                            font-weight: 500
                    &__available
                        font-size: 13px
                        font-weight: 500
            &-form
                display: flex
                flex: 1
                .element-buttons-count
                    width: 96px
                    margin-bottom: 0
                &-price
                    width: 150px
                    margin-right: 35px
                    &__oldprice
                        color: #4B4B4B
                        font-size: 12px
                        line-height: 120%
                        font-weight: 300
                        margin-bottom: 5px
                        text-decoration-line: line-through
                        + .catalog-section-item-form-price__curprice
                            color: $red
                    &__curprice
                        font-size: 18px
                        font-weight: 500



                &-buy
                    &__wrapper
                        margin-left: auto
                    &__btn
                        background-color: $accent
                        width: 110px
                        color: #fff
                        display: flex
                        align-items: center
                        justify-content: center
                        font-weight: 500
                        height: 34px
                        border-radius: 4px
                        transition: .3s background-color
                        &:hover
                            color: #fff
                            background-color: $accent2



@media (max-width: 1639.98px)
    .catalog-topfilter
        &-sorter
            margin-right: 15px
        &-buttons
            &__item
                margin-right: 10px

    .catalog-elements
        &-item
            width: calc(33.333% - 5px)
            margin-right: 5px
            margin-bottom: 5px
            &:nth-child(3n)
                margin-right: 0px
            &:nth-child(4n)
                margin-right: 5px

@media (max-width: 1299.98px)
    .catalog
        &-sidebar
            padding-right: 0
        &-section
            &-item
                padding-right: 10px
                &__img
                    width: 92px
                    height: 92px
                    margin-right: 22px
                &-info
                    width: 375px
                    margin-right: 20px
                    &-top
                        &__brand
                            display: none
                        .badges
                            width: 100%
                    &__name
                        font-size: 14px
                        margin-bottom: 5px
                    &__brand
                        display: block
                        font-size: 12px
                        line-height: 135%
                        margin-bottom: 10px
                        
                &-form
                    flex-direction: column
                    align-items: center
                    .element-buttons-count
                        margin-bottom: 5px

                    &-price
                        margin-right: 0
                        margin-bottom: 5px
                        text-align: center
                    &-buy
                        &__wrapper
                            margin-left: 0
                        &__btn
                            font-weight: 500
                            font-size: 10px
                            height: 20px


    .catalog-topfilter
        // padding-top: 20px
        &-sorter
            font-size: 10px
        &-buttons
            &__item
                padding-left: 6px
                padding-right: 6px
                font-size: 10px
                margin-right: 13px
        &-views
            position: absolute
            right: 10px
            top: -20px
            &__item
                margin-right: 5px
    .catalog-elements
        &-item
            padding-left: 10px
            padding-right: 10px
            &-price
                &__oldprice
                    font-size: 11px
                &__curprice
                    font-size: 14px
                &__default
                    font-size: 14px
            &-buy
                &__btn,&__oneclick
                    font-size: 14px
                    margin-right: 5px
                    padding-left: 10px
                    padding-right: 10px


@media (max-width: 991.98px)

    .catalog
        &-section
            &-item
                &-info
                    &__name
                        font-size: 10px
                        line-height: 14px
                    &__brand
                        font-size: 10px
                    &-top
                        .badges-item
                            margin-bottom: 5px
                    &-bot
                        &__code
                            font-size: 10px
                            margin-right: 20px
                        &__available
                            font-size: 10px
                &-form
                    &-price
                        &__oldprice
                            font-size: 10px
                        &__curprice
                            font-size: 16px



    .catalog-topfilter
        &-sorter
            margin-right: 10px
        &-buttons
            &__item
                padding-left: 4px
                padding-right: 4px
                margin-right: 5px
    .catalog-sidebar
        padding-right: 0

    .catalog-elements
        &-item
            width: calc(50% - 3px)
            &:nth-child(n+1)
                margin-right: 5px
            &:nth-child(2n)
                margin-right: 0
            &:nth-child(3n)
                margin-right: auto
            &__img
                height: 125px
                margin-bottom: 20px
            &__name
                font-size: 12px
                line-height: 120%
                text-overflow: ellipsis
                height: 44px
            &__sale
                top: 9px
                right: 9px
            &__brand
                font-size: 11px
                margin-bottom: 5px
                min-height: 28px
            &-price
                &__oldprice
                    font-size: 10px
                    margin-top: 3px
                &__curprice
                    font-size: 16px
                &__default
                    font-size: 16px
                &__discount
                    width: 34px
                    height: 19px
                    line-height: 19
            &-buy
                margin-bottom: 8px
                &__wrapper
                    .decr,.incr
                        width: 14px
                        height: 24px
                        line-height: 24px
                    input[type=number] 
                        width: 30px
                        height: 24px
                        line-height: 24px
                &__btn,&__oneclick
                    // font-size: 12px
                &__like
                    width: 18px
                    height: 18px
            &-bot
                align-items: center

@media (max-width: 767.98px)            
    .catalog
        &-banners
            display: none
            &_mobile
                display: block
                padding-bottom: 30px
                margin-bottom: 5px
        &-sections
            display: none
        &-topfilter
            &-show
                margin-left: auto
                img
                   height: 26px
                   width: 26px 
        
        &-elements
            &-item
                .badges
                    top: 8px
                &-price
                    margin-bottom: 7px
                    &__discount
                        margin-left: 5px
                &-buy
                    &__btn
                        width: calc(50% - 14px)
                    &__oneclick
                        width: calc(50% - 14px)
                    
                    

@media (max-width: 575.98px)
    .catalog-elements
        &-item
            padding-left: 6px
            padding-right: 6px
            padding-bottom: 10px
            width: 100%
            &__img
                height: 110px
            &__name, &__brand
                height: auto
                min-height: auto
            &__img

           
            &__name
                line-height: 120%
            &-bot
                justify-content: space-between
                &__code
                    width: auto
                    font-size: 10px
                &__available
                    width: auto
                    font-size: 10px
                    line-height: 10px

    .catalog
        &-section
            &-item
                padding-top: 10px
                padding-bottom: 10px
                padding-left: 5px
                padding-right: 5px
                flex-wrap: wrap
                &__img
                    width: 70px
                    height: 70px
                    margin-right: 18px
                &-info
                    margin-right: 0
                    width: calc(100% - 100px)
                    margin-bottom: 10px
                    &-bot
                        &__available
                            font-size: 8px
                
                &-form
                    flex-direction: row
                    width: 100%
                    &-price
                        flex: 1
                        width: 120px
                        &__oldprice
                            font-size: 8px
                            line-height: 120%
                        &__curprice
                            font-size: 12px
                            line-height: 120%
                    &-buy
                        &__btn
                            width: 80px
                            height: 28px

                    .element-buttons-count
                        margin-bottom: 0
                        width: 80px