.element
    &-gallery
        &-thumb
            display: inline-block
            height: 390px
            width: 90px
            .swiper-slide img
                width: 100%
                height: 100%
                display: block
                object-fit: contain
            &__wrapper
                margin-top: 20px
                margin-bottom: 20px
                display: inline-block
                position: relative
        &-main
            vertical-align: top
            height: 455px 
            width: 455px
            margin-left: 25px
            display: inline-block
            .swiper-slide
                display: flex
                align-items: center
                justify-content: center
                .badges-item
                    height: 27px
                    line-height: 27px
                    padding-left: 10px
                    padding-right: 10px
                    border-radius: 0px
                    font-weight: 500
                    margin-left: 10px
            img
                height: 95%
                width: 95%
                object-fit: contain
    &-productday
        border-radius: 4px
        display: flex
        align-items: center
        padding-left: 25px
        padding-right: 25px
        padding-top: 10px
        padding-bottom: 10px
        background-color: $orange
        margin-bottom: 25px
        color: #fff
        &__title
            font-size: 16px
            font-weight: 600
            margin-right: 15px
        &__descr
            font-size: 12px
            font-weight: 600
            margin-right: 30px
            margin-left: auto
            br
                display: none
        &__timer
            font-size: 22px
            font-weight: 600
            width: 91px

    &-info__wrapper
        vertical-align: top
        margin-bottom: 50px
        margin-left: 40px
    &-topinfo
        display: flex
        &-left
            width: 100%
            &-rating
                vertical-align: middle
                display: inline-flex
                align-items: center
                margin-right: 50px
                margin-bottom: 20px
                span
                    margin-right: 4px
                    line-height: 17px
                    font-size: 15px
                &__stars
                    line-height: 1
            &-orders
                vertical-align: middle
                display: inline-flex
                font-size: 14px
                align-items: center
                margin-bottom: 20px
                color: #000
                img
                    height: 13px
                    margin-right: 7px
            &-brand
                img
                    height: 52px
                    max-width: 100%
                    width: auto
                    margin-bottom: 17px
                    object-fit: contain
            &-props
                font-size: 14px
                margin-bottom: 10px
                line-height: 1.4
                &__item
                    margin-bottom: 3px
                b
                    font-weight: 600
        &-right
            width: 40px
            text-align: right
            position: relative
            margin-top: 20px
            &__logo
                position: absolute
                top: 0
                right: 0
                width: 100px
                img
                    width: 100% !important
            &__like
                display: inline-block
                height: 16px
                width: 18px
                background-color: #C7C7C7
                mask: url('../images/dist/element/Like.svg') no-repeat center
                cursor: pointer
                transition: .3s background-color
                margin-bottom: 45px
                &:hover,.active
                    background-color: #e43535
            &__cz
                width: 34px
                height: 35px
    &-offers
        &__title
            font-size: 14px
            font-weight: 500
            margin-bottom: 10px
        &-list
            list-style-type: none
            display: flex
            flex-wrap: wrap
            padding-left: 0
            gap: 6px
            margin-bottom: 16px
            max-width: 395px
            &-item
                border: 1px solid #C0C0C0
                box-sizing: border-box
                border-radius: 4px
                padding: 3px
                &:hover
                    cursor: pointer
                &.active
                    border: 2px solid $accent
                    padding: 2px

                img
                    border-radius: 4px
                    width: 36px
                    height: 36px

        &-select
            max-width: 395px

    &-sales
        margin-bottom: 40px
        font-size: 13px
        &-item
            background-color: #F2F2F2
            margin-bottom: 20px
            padding-top: 11px
            padding-bottom: 11px
            padding-left: 20px
            padding-right: 20px
            position: relative
            display: flex
            align-items: center
            &:last-child
                margin-bottom: 0
            &__icon
                width: 48px
                height: auto
                margin-right: 20px
            &__title
                margin-top: 5px
                margin-bottom: 10px
                line-height: 120%
                font-weight: bold
                max-width: 285px
            &__text
                line-height: 112%
            &__date
                background-color: $red
                font-size: 13px
                color: #fff
                height: 22px
                display: flex
                align-items: center
                justify-content: center
                padding-left: 8px
                padding-right: 8px
                min-width: 90px
                position: absolute
                top: 10px
                right: 20px
                border-radius: 4px
    &-prices
        margin-bottom: 20px
        color: #000
        &__old
            font-size: 15px
            line-height: 140%
            text-decoration-line: line-through
            margin-bottom: 5px
            + .element-prices__cur
                color: $red
        &__cur
            font-size: 26px
            line-height: 120%
            font-weight: 500
    &-buttons
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        align-items: center
        &-count
            width: 25%
            display: inline-flex
            border: 1px solid #DEDEDE
            box-sizing: border-box
            border-radius: 8px
            height: 36px
            font-weight: 500
            margin-right: 10px
            margin-bottom: 20px
            input
                border: none
                appearance: textfield
                width: calc(100% - 56px)
                text-align: center
                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0
            span
                width: 28px 
                text-align: center
                line-height: 36px
                cursor: pointer
                border-radius: 8px
                transition: .3s background-color
                &:hover
                    background-color: #efefef
                    
        &__item
            width: calc(25% - 10px)
            text-align: center
            height: 36px
            line-height: 36px
            background-color: $accent
            color: #fff
            border-radius: 4px
            font-weight: 500
            border: 1px solid $accent
            margin-bottom: 20px
            margin-right: 10px
            &:hover
                background-color: #fff
            &_oneclick
                color: #222
                width: calc(50% + 28px)
                margin-right: 10px
                background-color: #fff
                border: 1px solid #C4C4C4
                transition: .3s border, .3s color 
                &:hover
                    border: 1px solid $accent
        
        &__like
            width: 18px
            height: 16px
            background-position: center
            background-repeat: no-repeat
            transition: .3s background-image
            background-size: contain
            background-image: url(../images/dist/element/like_gray.svg)
            margin-bottom: 20px
            cursor: pointer
            &:hover
                background-image: url(../images/dist/element/like_red.svg)
            &.active
                background-image: url(../images/dist/element/like_red.svg)
    &__installments
        background-color: #E0E4F3
        border-radius: 4px
        height: 36px
        line-height: 36px
        text-align: center
        color: #222
        width: 100%
        display: block
        font-weight: 500
        margin-bottom: 14px


    &-subscription
        padding-left: 100px
        position: relative
        &__img
            position: absolute
            left: 0
            top: 0
        &__title
            color: #000
            line-height: 120%
            margin-bottom: 15px
        &__wrapper
            display: flex
            align-items: center
        &__price
            color: #222
            font-size: 26px
            line-height: 140%
            font-weight: 500
        &__btn
            width: 58%
            color: #fff
            background-color: $red
            padding-left: 5px
            padding-right: 5px
            border-radius: 4px
            height: 36px
            line-height: 36px
            text-align: center
            margin-left: auto
            &:hover
                color: #fff
    
    &-sticky
        position: sticky
        top: 20px

    &-stickyinfo
        background-color: #F9F9F9
        padding-top: 30px
        padding-left: 45px
        padding-right: 45px
        padding-bottom: 30px
        margin-left: 10px
        &-prices
            &__oldprice
                font-size: 14px
                color: #000
                line-height: 140%
                text-decoration-line: line-through
                font-weight: 300
                +
                    .element-stickyinfo-prices__curprice
                        color: $red
            &__curprice
                font-weight: 500
                line-height: 140%
                font-size: 26px
        &__cheaper
            display: flex
            align-items: center
            font-size: 14px
            font-weight: 500
            margin-bottom: 15px
            img
                margin-right: 10px
            span
                color: $red
                text-decoration: underline
        .element-buttons
            &-count
                width: 88px
                margin-bottom: 14px
                margin-right: 14px
                input
                    background-color: #F9F9F9
            &__item
                width: 140px
                margin-bottom: 14px
                margin-right: 14px
                &_oneclick
                    width: 100%
                    margin-right: 0
                    border-color: $accent
            &__like
                width: 25px
                height: 25px
                background-image: url('../images/dist/element/like_empty.svg')
                &:hover,&.active
                   background-image: url('../images/dist/element/like_blue.svg') 
        &__devider
            height: 1px
            width: 100%
            background: #DEDEDE
            margin-top: 20px
            margin-bottom: 20px
        &__title
            font-size: 15px
            line-height: 140%
            font-weight: 500
            margin-bottom: 5px
        &-delivery
            margin-bottom: 20px
            font-size: 14px
            &-item
                display: flex
                justify-content: space-between
                color: #000
                margin-bottom: 5px
                &__title
                    font-weight: 300
                    width: calc(30% - 20px)
                &__text
                    width: calc(70% - 20px)                    
        &-payments
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            margin-bottom: 20px
            &-item
                width: calc(25% - 5px)
                display: flex
                align-items: center
                justify-content: center
                height: 30px
                margin-bottom: 6px
                border-radius: 4px
                img
                    max-width: 83%
                    max-height: 80%

        &-sberspasibo
            display: flex
            align-items: center
            margin-bottom: 20px
            &__img
                height: 22px
                margin-right: 25px
            &__value
                color: #1F8A70
                font-size: 13px
                span
                    font-size: 26px
                    font-weight: 500
                    
        &-actions
            font-size: 14px
            color: #000
            margin-bottom: 20px
            font-weight: 500
            &__item
                display: flex
                margin-bottom: 7px
                align-items: center
                text-decoration-line: underline
                &:hover
                    text-decoration-line: underline
                img
                    margin-right: 10px
                    max-height: 24px
                &:last-child
                    margin-bottom: 0
                

        &-socials
            display: flex
            &__item
                display: flex
                height: 25px
                width: 25px
                align-items: center
                justify-content: center
                margin-right: 8px
                background-color: $accent
                border-radius: 50%
                img
                    max-width: 65%
                    max-height: 65%
                    transition: 1s transform
                &:hover
                    background-color: $accent2
                    img
                        transform: rotateY(360deg)

    &-configurations
        width: 100%
        tr
            border-bottom: 1px solid #dedede
            &:last-child
                border: none
        th
            text-align: center
            font-weight: 500
        td,th
            padding: 15px 20px
            font-size: 14px
            line-height: 120%
        td:nth-child(3)
            white-space: nowrap
        .btn    
            height: 30px
            line-height: 30px
@media (max-width: 1639.98px)
    .element
        &-gallery
            &-thumb
                height: 330px
                width: 75px
            &-main
                height: 355px
                width: 355px
                margin-left: 15px
        &-sales
            &-item
                &__title
                    max-width: 200px
        &-subscription
            &__price
                font-size: 20px
            &__btn
                font-size: 12px
        &-stickyinfo
            margin-left: 10px
            padding-left: 15px
            padding-right: 15px
            .element-buttons
                &-count
                    width: 80px
                    margin-right: 10px
                &__item
                    width: 125px
                    margin-right: 10px
                    &_oneclick
                        width: 100%
                        margin-right: 0
            &__cheaper-wrap
                span
                    display: block
        
@media (max-width: 1299.98px)
    .element
        &-gallery
            &-thumb
                height: 230px
                width: 50px
            &-main
                height: 270px
                width: 270px
                margin-left: 10px
        &-productday
            padding-left: 10px
            padding: 10px
            &__title
                font-size: 11px
                margin-right: 10px
            &__descr
                margin-right: 15px
            &__timer
                font-size: 19px
        &-topinfo
            &-left-rating
                margin-bottom: 0px
                &__stars
                    padding-bottom: 7px
                    img
                        height: 12px
            &-left-orders
                margin-bottom: 15px
                margin-bottom: 0px
                img
                    margin-right: 5px
            &-right
                &__logo
                    width: 80px
                &__like
                    margin-bottom: 16px
                img
                    width: 20px
        &-sales
            margin-bottom: 10px
            &-item
                padding-left: 10px
                padding-right: 10px
                &__date
                    font-size: 10px
                    min-width: auto
                    height: 20px
                    right: 10px
                &__title
                    // font-size: 10px
                    line-height: 130%
                    max-width: 150px
                    margin-top: 0px
                    margin-bottom: 5px
                &__icon
                    width: 40px
                    top: 10px
                    left: 10px
                    margin-right: 10px
        &-prices
            margin-bottom: 10px
            &__old
                font-size: 10px
                line-height: 110%
                margin-bottom: 5px
            &__cur
                font-size: 16px
        
        &-subscription
            padding-left: 45px
        
            &__img
                width: 30px
            &__wrapper
                width: calc(100% + 45px)
                margin-left: -45px
            &__price
                font-size: 16px
                line-height: 140%
            &__btn
                width: 55%


        &-stickyinfo
            margin-left: 0
            padding-left: 7px
            padding-right: 7px
            padding-top: 10px
            padding-bottom: 10px
            // font-size: 10px
            &__devider
                margin-top: 15px
                margin-bottom: 15px
            .element-buttons
                &-count
                    width: 70px
                    margin-right: 5px
                    span
                        width: 23px
                    input
                        width: calc(100% - 46px)
                &__item
                    margin-right: 5px
                    width: 102px
                    &_oneclick
                        width: 100%
                &__like
                    width: 20px
                    height: 20px

            &-delivery
                margin-bottom: 10px
            &-payments
                margin-bottom: 5px
                &-item
                    height: 17px
            &-sberspasibo
                &__img
                    height: 11px
                    margin-right: 6px
                &__value
                    font-size: 10px
                    span
                        font-size: 15px
            &-actions
                &__item
                    font-size: 13px
                    line-height: 115%
            &-socials
                &__item
                    height: 18px
                    width: 18px
                    margin-right: 7px
                    img
                        max-width: 55%
                        max-height: 55%

@media (max-width: 991.98px)
    .element
        &-gallery
            &-thumb
                width: 70px
                height: 310px
            &-main
                height: 330px
                width: 330px
                margin-left: 20px
            &-wrapper
                margin-bottom: 12px
        &__installments
            font-size: 12px
            height: 27px
            line-height: 27px

        &-topinfo
            &-left
                display: flex
                flex-wrap: wrap
                &-brand
                    order: -1
                    margin-right: 20px
                    margin-bottom: 10px
                    img
                        height: 30px
                        width: auto
                        margin-right: 20px
                        margin-bottom: 0
                &__wrapper
                     margin-bottom: 10px
                &-props
                    font-size: 12px
            
                   
        &-info
            &__wrapper
                margin-left: 0
                margin-bottom: 0

        &-buttons
            &-count
                width: calc(33% - 10px)
                span
                    width: 19px
                input
                    width: calc(100% - 38px)
            &__item
                width: 33%
                &_oneclick
                    width: calc(66% + 35px)
                    margin-right: 0
        &-sales
            &-item
                &__title
                    max-width: 310px
                &__icon
                    margin-right: 7px
                &__date
        
        &-offers
            &__title
                font-size: 12px
                margin-bottom: 6px
            &-list
                &-item
                    padding: 2px
                    img
                        width: 22px
                        height: 22px
                    &.active
                        border: 1px solid $accent
                    
        &-stickyinfo
            padding-left: 15px
            padding-right: 15px
            padding-bottom: 16px
            &__title
                font-size: 12px
            &-prices
                &__oldprice
                    font-size: 12px
                    font-weight: 300
                &__curprice
                    font-size: 16px
                    font-weight: 500
            &__cheaper
                font-size: 12px
                margin-bottom: 12px

            .element-buttons
                &__item
                    margin-bottom: 8px
                    height: 27px
                    line-height: 27px
                    font-size: 12px
                    width: 87px
                    &_oneclick
                        margin-right: 0
                        width: 100%
                &-count
                    margin-bottom: 8px
                    height: 27px
                    font-size: 12px
                    span
                        line-height: 25px
                &__like
                    margin-bottom: 10px
            &-delivery
                font-size: 12px

            &-actions
                &__item
                    font-size: 12px

        &-configurations
            td, th
                padding: 10px

@media (max-width: 767.98px)
    .element
        &-gallery
            &-wrapper
                display: flex
                flex-wrap: wrap
            &-main
                width: 100%
                height: auto
                margin-left: 0
            &-thumb
                width: 100%
                height: 72px
                &__wrapper
                    margin-top: 0
                    margin-bottom: 15px
                    order: 1
                    display: block
                    max-width: calc(100vw - 30px)
                    .swiper-button-prev,.swiper-button-next
                        display: none
                .swiper-slide
                    min-width: 72px
        &-topinfo
            &-left
                &-brand
                    width: 100%
                &-rating
                    margin-right: 30px
                &-orders
                    margin-bottom: 5px
            &-right
                &__logo
                    display: none
                &__like
                    display: none
            &_mobile
                display: flex
                align-items: center
                .element-topinfo-right__like
                    display: inline-block
                    margin-bottom: 0
                    margin-left: auto
        
        &-info__wrapper
            margin-bottom: 15px

        &-sales
            &-item
                &__icon
                    width: 28px
                    margin-right: 15px
                    display: block
                &-info
                    width: 100%
                &__title
                    max-width: calc(100% - 60px)
                &__date
                    height: 12px
                    line-height: 12px
                    font-size: 8px
                    top: 5px
                    right: 5px
                    padding-left: 5px
                    padding-right: 5px
                    min-width: 54px
        
        &-prices
            &__old
                font-size: 12px
                display: inline-block
                margin-right: 23px 
                margin-bottom: 0
                vertical-align: middle
            &__cur
                font-size: 22px
                display: inline-block
                vertical-align: middle
        
        &-buttons
            &__item
                height: 30px
                line-height: 30px
                font-size: 12px
            &-count
                height: 30px
                line-height: 30px
                span
                    height: 28px
                    line-height: 28px
                    width: 28px
        
        &__installments
            height: 30px
            line-height: 30px

        &-subscription
            padding-left: 64px
            &__img
                width: 44px
                top: 6px
                left: 0
            &__title
                margin-bottom: 5px
                font-size: 12px
            &__wrapper
                margin-left: 0
                width: 100%

        &-stickyinfo
            padding: 15px 10px
            margin-bottom: 20px
            margin-left: 0px
            margin-right: 0px
            &__title
                font-size: 12px
            &-delivery
                &-item
                    &__text
                        width: 70%
            &-sberspasibo
                margin-bottom: 10px
                &__img
                    height: 13px
                &__value
                    span
                        font-size: 22px
            &-socials
                &__item
                    width: 25px
                    height: 25px

        &-configurations
            border-bottom: 1px solid #DEDEDE
            tr
                border-bottom: none
                td:first-child
                    font-weight: 500


        &-sticky
            z-index: 2

            .element-stickyinfo
                display: flex
                height: 57px
                align-items: center
                justify-content: space-between
                position: fixed
                bottom: 60px
                width: 100%
                left: 0
                padding-left: 10px 
                padding-right: 10px
                margin-left: 0
                margin-right: 0
                margin-bottom: 0
                z-index: 3
                &-delivery,&__devider,&__title,&-socials,&-actions,&-delivery,&__cheaper,.element-buttons__item_oneclick,.element__installments,ul.list
                    display: none
            .element-buttons
                &-count
                    margin-bottom: 0
                &__item
                    margin-bottom: 0
                &__like
                    margin-bottom: 0

    .newfooter.element
        padding-bottom: 145px


    .element-stickyinfo-wrapper_mobile
        order: -1
